COMPOSE_PROJECT_NAME=opsgpt_control_tower
POSTGRES_USER=opsgpt
POSTGRES_PASSWORD=opsgpt
POSTGRES_DB=opsgpt
POSTGRES_PORT=5432
BACKEND_PORT=8000
FRONTEND_PORT=5173
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
QDRANT_PORT=6333
REDPANDA_BROKER_PORT=9092
DUCKDB_PATH=/data/warehouse/opsgpt.duckdb
